---
import BaseHead from "../../components/layouts/BaseHead.astro";
import Header from "../../components/layouts/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/layouts/FormattedDate.astro";
import Search from "../../components/search";

const posts = (await getCollection("blog")).sort(
  (a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      section {
        padding: 1rem;
      }
      main {
        display: flex;
        flex-direction: column;
      }
      div.grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 16px;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        align-content: center;
      }
      div.card {
        background-color: color-mix(in srgb, white 90%, var(--accent) 10%);
        max-width: 720px;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        box-shadow:
          0 1px 2px 0 rgba(0, 0, 0, 0.05),
          0 2px 6px 2px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 16px;
        transition: transform 0.2s ease-in-out;
      }

      div.content {
        padding: 16px;
      }

      div.card a {
        display: block;
        text-decoration: none;
      }
      .title {
        margin: 0;
        color: #4c4f69;
        line-height: 1;
      }
      .date {
        margin: 0;
        color: #6c6f85;
      }

      @media (prefers-color-scheme: dark) {
        div.card {
          background-color: color-mix(in srgb, black 50%, var(--accent) 35%);
        }

        div.card:hover {
          box-shadow: none;
          border-color: color-mix(in srgb, black 80%, var(--accent) 40%);
        }

        .title {
          color: color-mix(in srgb, white 90%, var(--accent) 10%);
        }

        .date {
          color: color-mix(in srgb, white 80%, var(--accent) 20%);
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <Search client:load searchList={posts} />
        <div class="grid-container">
          {
            posts.map((post) => (
              <div class="card">
                <a astro:data-reload href={`/blog/${post.slug}/`}>
                  <div class="content">
                    {post.data.heroImage && (
                      <img
                        width={720}
                        height={360}
                        src={post.data.heroImage}
                        alt=""
                      />
                    )}
                    <h4 class="title">{post.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
  </body>
</html>
