---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/layouts/BaseHead.astro';
import Header from '../components/layouts/Header.astro';
import FormattedDate from '../components/layouts/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				margin: 0;
				padding-inline: 0;
				padding-top: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				border-radius: 0;
			}
			.prose {
				width: 820px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: color-mix(in srgb, black 90%, var(--accent) 10%);
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}

			h4.quote{
				color: color-mix(in srgb, black 60%, var(--accent) 20%);
			}

			@media (prefers-color-scheme: dark) {
				.hero-image img {
					box-shadow: none;
				}

				.prose {
					color: color-mix(in srgb, white 90%, var(--accent) 10%);
				}

				.date {
					color: color-mix(in srgb, white 90%, var(--accent) 10%);
				}

				h4.quote {
					color: color-mix(in srgb, white 60%, var(--accent) 20%);
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main transition:animate="fade">
			<article>
				<div class="hero-image">
					{heroImage && <img data-background-image={heroImage} loading="lazy" src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<h4 class="quote">"{description}"</h4>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
